// Custom bootstrap
$input-focus-border-color: black;
$utilities : (
  "width": (
    property: width,
    class: w,
    responsive : true ,
    values: (
      25: 25%,
      35: 250px,
      50: 50%,
      60 : 60% ,
      70 : 70%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  )
  );

@import "../node_modules/bootstrap/scss/bootstrap.scss"  ;



*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  padding: clamp(20px, 5vw, 50px) 20px 20px;
}

input:focus {
    outline: none;
}
#loading {
  display: none;
}